Failed:6. You should have an input element with an id of name.
Failed:7. Your #name should have a type of text.
Failed:8. Your #name should require input.
Failed:9. Your #name should be a descendant of #survey-form.
Failed:10. You should have an input element with an id of email.
Failed:11. Your #email should have a type of email.
Failed:12. Your #email should require input.
Failed:13. Your #email should be a descendant of #survey-form.
Failed:14. You should have an input element with an id of number.
Failed:15. Your #number should be a descendant of #survey-form.
Failed:16. Your #number should have a type of number.
Failed:17. Your #number should have a min attribute with a numeric value.
Failed:18. Your #number should have a max attribute with a numeric value.
Failed:19. You should have a label element with an id of name-label.
Failed:20. You should have a label element with an id of email-label.
Failed:21. You should have a label element with an id of number-label.
Failed:22. Your #name-label should contain text that describes the input.
Failed:23. Your #email-label should contain text that describes the input.
Failed:24. Your #number-label should contain text that describes the input.
Failed:28. Your #name should have a placeholder attribute and value.
Failed:29. Your #email should have a placeholder attribute and value.
Failed:30. Your #number should have a placeholder attribute and value.
Failed:31. You should have a select field with an id of dropdown.
Failed:32. Your #dropdown should have at least two selectable (not disabled) option elements.
Failed:33. Your #dropdown should be a descendant of #survey-form.
Failed:36. All your radio buttons should have a value attribute and value.
Failed:39. You should have at least two input elements with a type of checkbox (checkboxes) that are descendants of #survey-form.
Failed:40. All your checkboxes inside #survey-form should have a value attribute and value.
Failed:42. You should have an input or button element with an id of submit.
Failed:43. Your #submit should have a type of submit.
Failed:44. Your #submit should be a descendant of #survey-form.
