#title, .Header {
  text-align: center;
  font-family: "Impact", serif;
}


body {
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjEwMTA3M2EuanBn.jpg");
}

.bg {
  text-align: center;
  margin: 3em auto;
  background: rgba(46, 43, 43, 90%);
  min-width: 400px;
  max-width: 600px;
  border-radius: 20px;
}

#survey-form i {
  display: block;
  padding: .5em 0;
  color: whitesmoke;
}

#survey-form input {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}

#coffee-type {
  text-align: center;
  border-radius: 5px;
  padding: 2px 0;
  color: grey;
}

input[type="submit"] {
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  font-size: 1.05em;
  font-style: italic;
  width: 30%;
}

.additional-comments {
  padding: 15px 0;
}

.additional-comments textarea {
  max-width: 500px;
  max-height: 200px;
}

.radio-group {
  padding: 0px;
}

.form {
  color: whitesmoke;
  padding: 10px;
}

#name-label, #email-label, #coffee-type {
  width: 50%;
}
